body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    min-height: 100dvh;
    font-family: "Red Hat Display", serif;
}

header {
    padding-top: 1em;
    min-height: 5em;
    align-content: center;
}

footer {
    padding: 2em 0;
    text-align: center;
}

.food {
    width: 100%;
    z-index: 0;
}

.menu {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2em;
}