body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

header {
    padding-top: 1em;
    min-height: 5em;
    align-content: center;
}

main {
    flex: 1;
    font-family: 'Red Hat Display';
    font-size: 1em;
}

footer {
    min-height: 5em;
    text-align: center;
    font-family: 'Red Hat Display';
    margin: 5em 0 5em 0;
}

h1 {
    text-align: left;
    font-size: 8em;
    margin: 0.5em 0.2em 0.5em 0.2em;
    line-height: 1em;
}

.red-hat-display-text> {
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.miam {
    width: 100%;
    z-index: 0;
}

.menu {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.all-details {
    margin: 0 2em 0 2em;
}