body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    min-height: 100dvh;
    font-family: "Red Hat Display", serif;
    margin: 0;
    font-size: larger;
}

header {
    padding-top: 1em;
    min-height: 5em;
    align-content: center;
}

main {
    flex: 1;
}

footer {
    padding: 2em 0;
    text-align: center;
}

h1 {
    font-size: 2em;
}

img.food {
    width: 100%;
    min-height: 600px;
}

section {
    padding: 0 0.5em;
}

.menu {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


@media screen and (min-width: 1000px) {
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin: 3em 10em;
        padding: 3em;
    }

    picture {
        width: 75%;
        display: block;
        margin: 0 auto;
        border-radius: 5%;
        overflow: hidden;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    ul li {
        margin-bottom: 1em;
    }

    #details {
        /*border: 1px solid grey;*/
        border-radius: 25px;
        margin-top: 2em;
    }

    #ingredients {
        /*border: 1px solid grey;*/
        border-radius: 25px;
        margin-top: 2em;
        padding: 0em 4em 0em;
    }

    #instructions {
        /*border: 1px solid grey;*/
        border-radius: 25px;
        margin-top: 2em;
        padding: 0em 4em 0em;
    }

    #index {
        margin: 7em;
    }
}