<!DOCTYPE html>

<head>
    {% block head %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <meta charset="utf-8">
    {% endblock %}
</head>

<body>
    <header>
        <h1>Yummy things</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
        &copy; Copyright 2025 by Caroline Mimeault.
        {% endblock %}
    </footer>
</body>

</html>