<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %} - caromimo.ca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>

<body>
    <header class="menu">
        <a href="{{ url_for('index_fr') }}">
            <img class="logo" src="../static/logo_fr.png" alt="caromimo logo" width="400" height="120" />
        </a>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        &copy; 2025 Caroline Mimeault
    </footer>
</body>

</html>