<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - caromimo.ca</title>
    <meta charset="utf-8">
    {% endblock %}
</head>

<body>
    <header>
        <img src="../static/logo_en.png" alt="caromimo logo" width="400" height="150" class="center" />
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        &copy; 2025 Caroline Mimeault
    </footer>
</body>

</html>