<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - caromimo.ca</title>
    <meta charset="utf-8">

    {% endblock %}
</head>

<body>
    <header class="menu">
        <img src="../static/logo_en.png" alt="caromimo logo" width="500" height="150" />
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        &copy; 2025 Caroline Mimeault
    </footer>
</body>

</html>