{% extends "base.html" %}

{% block title %}Recipe Details{% endblock %}

{% block content %}

<article>
    <picture class="box">
        <img class="food" src="{{ url_for('static', path='pictures/' + image_path)}}" />
    </picture>

    <section id="details" class="box">
        <h1>{{title_en}}</h1>
        <p>{{description_en}}</p>
        <p>Credit:
            <a href="{{source_en}}">{{title_en}}</a>
        </p>
    </section>

    <section id="ingredients" class="box">
        <h2>Ingredients: </h2>
        <ul>{% for ingredient in ingredients_en %}
            <li>{{ ingredient["quantity"]}} {{ ingredient["unit"] }} {{ ingredient["ingredient"] }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="instructions" class="box">
        <h2>Instructions: </h2>
        <ol>{% for instruction in instructions_en.splitlines() %}
            <li>{{ instruction }}</li>
            {% endfor %}
        </ol>
    </section>

</article>

{% endblock %}