{% extends "base.html" %}

{% block title %}Recipe Details{% endblock %}

{% block content %}

<img src="{{ url_for('static', path=image_path)}}" />
<h1>{{title_en}}</h1>
<p>{{description_en}}</p>
<h2>Ingredients: </h2>
<ul>{% for ingredient in ingredients_en %}
    <li>{{ ingredient["quantity"]}} {{ ingredient["unit"] }} {{ ingredient["ingredient"] }}</li>
    {% endfor %}
</ul>
<h2>Instructions: </h2>
<ol>{% for instruction in instructions_en.splitlines() %}
    <li>{{ instruction }}</li>
    {% endfor %}
</ol>
<h2>Credits:</h2>
<a href="{{source_en}}">{{title_en}}</a>
{% endblock %}